<div class="container-fluid">
<br>
  <table class="table table-bordered">
    <tr>
      <th>Room Number</th>
      <th>Room Rate</th>
      <th>Availability</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let room of roomList; let index of index">
      <td>{{room.room_number}}</td>
      <td>{{room.room_rate}}</td>
      <!--Status Room  -->
      <td *ngIf = "room.status == 1; else firstTemp"><div style="color:green">
        Available
      </div></td>
      <!--Else  -->
      <ng-template #firstTemp>
        <td><div style="color:red">
        Unavailable
        </div></td>
      </ng-template>
      <td>
        <button type="button" name="" value="" class="btn btn-success">Book</button>
      </td>
    </tr>
  </table>

</div>